/* =Framework
----------------------------------------------- */

/* Dark version of framework styles */
@import url('../../framework/assets/css/themeblvd-dark.min.css');

/* =Layout Boxes
----------------------------------------------- */

.article-wrap,
.element.boxed-element,
.top-shadow,
#comments li {
	background-image: url(../images/article-shadow-dark.png);
}
.fixed-sidebar .widget {
	background-image: url(../images/widget-shadow-dark.png);
}
article,
#respond,
.fixed-sidebar .widget .widget-inner,
.element.boxed-element > .element-inner,
#comments .comment-body {
	background-color: #2e2e2e;
	border-color: #000000;
	color: #ffffff;
}

/* =Content
----------------------------------------------- */

.entry-title,
.entry-title a {
	color: #ffffff;
}
article .entry-title,
article .entry-title a {
	color: #ffffff;
}
.tags a {
	border-color: #000000;
}

/* =Post List
----------------------------------------------- */

.entry-meta {
	border-color: #000000;
	color: #cccccc;
}
.entry-meta a,
#featured .featured-entry-title .entry-meta a {
	color: #ffffff;
}
.entry-meta .comments-link {
	border-color: #000000;
}

/* =Comments
----------------------------------------------- */

#comments .comment-body .comment-meta a {
	color: #cccccc;
}
#comments .comment-body .reply a {
	border-color: #000000;
}
#comments .comment-body .reply a:hover {
	background-color: #2e2e2e;
}
#comments ul.children {
	border-color: #000000;
}

/* =Header
-------------------------------------------------------------- */

#top {
	border-bottom: 1px solid #000000;
}
#access ul ul {
	background: #2e2e2e;
	border-color: #000000;
}
#access ul ul ul {
	border-top-color: #000000;
}
#primary-menu li li a {
	color: #ffffff;
}
#primary-menu li li a:hover {
	background-color: #242424;
	color: #ffffff;
}

/* =Featured
-------------------------------------------------------------- */

#featured .standard-slider-wrapper .slider-inner,
#featured .tb-nivo-slider-wrapper .slider-inner {
	background: #2e2e2e;
	border-color: #000000;
}
#featured .slider-wrapper .design-2,
#featured .slider-wrapper .design-3 {
    background-image: url(../images/slider-design-2-3-heavy.png);
}
#featured .slider-wrapper .design-4 {
    background-image: url(../images/slider-design-4-heavy.png); 
}

/* =Main
-------------------------------------------------------------- */

#wrapper {
	background-color: #242424;
}

/* Breadcrumbs */
#main #breadcrumbs .current {
	color: #ffffff;
}
#main #breadcrumbs a {
	color: #f2f2f2;
	border-bottom-color: #cccccc;
}
#main #breadcrumbs .home-link {
	background-image: url(../images/home-ffffff.png);
}
@media 	only screen and (-webkit-min-device-pixel-ratio: 1.5),
		only screen and (-moz-min-device-pixel-ratio: 1.5),
		only screen and (-o-min-device-pixel-ratio: 1.5),
		only screen and (min-device-pixel-ratio: 1.5),
		only screen and (min-resolution: 1.5dppx) {
	/* Use 2x images for retina */
	#main #breadcrumbs .home-link {
		background-image: url(../images/home-ffffff_2x.png);
		background-size: 10px 10px;
	}
}

/* =Widgets
----------------------------------------------- */

.widget ul li a {
	border-bottom-color: #000000;
}

/* =Builder
----------------------------------------------- */

/* Divider */
.divider-dashed,
.divider-solid {
	border-color: #000000;
}

/* Post List/Grid */
.lead-link {
	color: #ffffff;
}

/* =WPML Bridge
----------------------------------------------- */

.header-addon-with-wpml .tb-wpml-flaglist,
#access .tb-wpml-flaglist {
	background-color: #2e2e2e;
	border-color: #000000;
}

/* =Responsive Structure
------------------------------------------------- */

@media (max-width: 1170px) {
	/* Simplify featured slider outer design */
	#featured .standard-slider-wrapper .slider-inner {
		-webkit-box-shadow: 0 0 7px #000000;
		box-shadow: 0 0 7px #000000;
	}
}